@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* {
  margin: 0;
  padding: 0;
}
header{
  display:flex;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  align-items: center;
flex-direction: row;
position: fixed;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
z-index: 1;
transition-duration: 0.5s;
transition-timing-function: ease-in;
}
.active {
  background-color: rgba(0, 0, 0, 0.6);
}
a{
  color: whitesmoke;  
  text-decoration: none;
  font-style: italic;
}
.logo{
  margin-left: 5%;
}
.menu_nav{
  margin-right: 8%; 
}
.menu_btn{
  font-size: 25px;
  padding: 10px;
font-family: 'Times New Roman', Times, serif;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
} 
.menu_btn:hover{
  color:green;
  transition-duration: 0.3s;
  transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: scale(1.5);
} 
.bg_photo{
  width: 100%;
}
.Sherlock {
  color: whitesmoke;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 35%;
}
/* Главная часть */
.abc {
  width: 100%;
  height: 700px;
display: flex;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
border-bottom: 1px solid black;
}
.comfort{
  font-size: 30px;
}
.main-text{
  border-bottom: 1px solid black;
  width: 25%;

}
.main-slider{
  max-width: 600px;

}
.photo{
  background-image: url("https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/27798293_557060534661318_1037692295153453591_o.jpg?_nc_cat=0&oh=05bfd3154b98f8901a3f11907529c334&oe=5BBAD8D0");
  background-size: 100%;
  background-repeat: no-repeat;
width: 600px;
height: 400px;
}
.photo1{
  background-image: url("https://scontent.fiev6-1.fna.fbcdn.net/v/t1.0-9/29244242_575820092785362_7550519014213025792_o.jpg?_nc_cat=0&oh=e9b29dafab885baa88f845dfd1577bbd&oe=5BE554F9");
  background-size: 100%;
  background-repeat: no-repeat;
width: 600px;
height: 400px;
}
.photo2{
  background-image: url("https://scontent.fiev6-1.fna.fbcdn.net/v/t1.0-9/30624141_589068508127187_1029098473636495360_o.jpg?_nc_cat=0&oh=b404dc9999ef5e3da15d5afcaf22046c&oe=5BCC7F25");
  background-size: 100%;
  background-repeat: no-repeat;
width: 600px;
height: 400px;
}
/* Адаптив для планшетів */
@media screen and (max-width: 1024px) and (min-width:600px){
  .Sherlock{
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 35%;
  }
  header{
    display:flex;
    width: 100%;
    height: 130px;
    justify-content: space-between;
    align-items: center;
flex-direction: row;
position: fixed;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
z-index: 1;
transition-duration: 0.5s;
transition-timing-function: ease-in;
}
.abc {
  width: 100%;
  height: 450px;
display: flex;
justify-content: space-around;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
border-bottom: 1px solid black;
}
.comfort{
  font-size: 25px;
}
.main-slider
.main-text{
  border-bottom: 1px solid black;
}
.slider{
  max-width: 450px;
}
.photo{
  background-image: url("https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/27798293_557060534661318_1037692295153453591_o.jpg?_nc_cat=0&oh=05bfd3154b98f8901a3f11907529c334&oe=5BBAD8D0");
  background-size: 100%;
  background-repeat: no-repeat;
width:300px;
height: 250px;
}
.photo1{
  background-image: url("https://scontent.fiev6-1.fna.fbcdn.net/v/t1.0-9/29244242_575820092785362_7550519014213025792_o.jpg?_nc_cat=0&oh=e9b29dafab885baa88f845dfd1577bbd&oe=5BE554F9");
  background-size: 100%;
  background-repeat: no-repeat;
width: 300px;
height: 250px;
}
.photo2{
  background-image: url("https://scontent.fiev6-1.fna.fbcdn.net/v/t1.0-9/30624141_589068508127187_1029098473636495360_o.jpg?_nc_cat=0&oh=b404dc9999ef5e3da15d5afcaf22046c&oe=5BCC7F25");
  background-size: 100%;
  background-repeat: no-repeat;
width: 300px;
height: 250px;
}
}
/*  */
/* Адаптив для телефонів */
@media screen and (max-width: 610px) and (min-width:330px){
  .Sherlock{
    font-size: 20px;
    position: absolute;
    top: 18%;
    left: 30%;
  }
  .menu_btn{
    font-size: 15px;
  }
  header{
    display:flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
flex-direction: row;
position: fixed;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
z-index: 1;
transition-duration: 0.5s;
transition-timing-function: ease-in;
}
.sherlock{
  width: 50px;
  height: 50px;
}
.abc {
  width: 100%;
  height: 450px;
display: flex;
justify-content: space-around;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
border-bottom: 1px solid black;
}
.comfort{
  font-size: 15px;
}
.main-slider
.main-text{
  border-bottom: 1px solid black;
}
.slider{
  max-width: 230px;
  height: auto;
}
.photo{
  background-image: url("https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/27798293_557060534661318_1037692295153453591_o.jpg?_nc_cat=0&oh=05bfd3154b98f8901a3f11907529c334&oe=5BBAD8D0");
  background-size: 100%;
  background-repeat: no-repeat;
width:300px;
height: 250px;
}
.photo1{
  background-image: url("https://scontent.fiev6-1.fna.fbcdn.net/v/t1.0-9/29244242_575820092785362_7550519014213025792_o.jpg?_nc_cat=0&oh=e9b29dafab885baa88f845dfd1577bbd&oe=5BE554F9");
  background-size: 100%;
  background-repeat: no-repeat;
width: 300px;
height: 250px;
}
.photo2{
  background-image: url("https://scontent.fiev6-1.fna.fbcdn.net/v/t1.0-9/30624141_589068508127187_1029098473636495360_o.jpg?_nc_cat=0&oh=b404dc9999ef5e3da15d5afcaf22046c&oe=5BCC7F25");
  background-size: 100%;
  background-repeat: no-repeat;
width: 300px;
height: 250px;
}
}
/*  */
/* Для телефонів по горизонталі */
@media screen and (max-height: 500px) and (min-height:0px){
  .Sherlock{
    font-size: 35px;
    position: absolute;
    top: 60%;
    left:35%;
  }
  .menu_btn{
    font-size: 20px;
  }
  header{
    display:flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
flex-direction: row;
position: fixed;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
z-index: 1;
transition-duration: 0.5s;
transition-timing-function: ease-in;
}
.sherlock{
  width: 50px;
  height: 50px;
}
}
/* Контакти */
.contact-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #fafafa;
  border-bottom: 1px solid black;
}
.contact-text {
  font-size: 25px;
}
.box {
  opacity: 1;
}
.contact-text h2 {
  font-weight: 700;
  color: #515769;
}
.contact-inf h5 {
  font-size: 20px;
  border: 5px solid black;
  width: 60px;
  height: 50px;
}
.contact-text p {
  color: #444;
  margin-top: 40px;
}
.contact-inf p {
  margin-top: 40px;
  color: #444;
}
.uk {
  display: none;
}
.uk1 {
  display: none;
}
.uk2 {
  display: none;
}
#con {
  cursor: pointer;
  opacity: 1;
  font-size: 42px;
}
#con1 {
  cursor: pointer;
  opacity: 1;
  font-size: 42px;
}
#con2 {
  cursor: pointer;
  opacity: 1;
  font-size: 42px;
}
/*  */
/* Адаптив контактів для телефона */
@media screen and (max-width: 610px) and (min-width:330px){
.contact-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fafafa;
  border-bottom: 1px solid black;
}
.contact-text {
  font-size: 15px;
}
.box {
  opacity: 1;
}
.contact-text  {
  font-weight: 100;
  color: #515769;
}
.contact-inf  {
  font-size: 10px;
  width: 70px;
  height: 50px;
  text-align: center;
}
.contact-text p {
  color: #444;
  margin-top: 30px;
  margin-left: 20px;
}
.contact-inf p {
  margin-top: 40px;
  color: #444;
}
#con {
  cursor: pointer;
  opacity: 1;
  font-size: 17px;
}
#con1 {
  cursor: pointer;
  opacity: 1;
  font-size: 17px;
}
#con2 {
  cursor: pointer;
  opacity: 1;
  font-size: 17px;
}
}
/*  */

.abcdg{
display: flex;
flex-direction: row;
}
.click-cont{
  width: 25%;
  height: 250px;
  background-color: whitesmoke;
border-radius: 15px;
text-align: center;
margin: 0 auto;
margin-top: 10px;
transition-duration: 0.7s;
}
.click-cont:hover{
  background-color: darkcyan;
  transition-duration: 0.7s;
}
.exp-bat{
  padding-top: 100px;
}
.fell{
  font-size: 30px;
  font-weight: bold;
}
.exp-content{
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}
.cont-sm{
  width: 15%;
  height: 200px;
border-radius: 20px;
  opacity: 0;
  display: none;
  background-color: whitesmoke;
}
.cont-sm:hover{
  background-color: bisque;

}
.funny{
text-align: center;
padding-top:80px;
}


  

#hide {
  background-color: #fafafa;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  margin-top: 50px;
}
#hide:hover {
  background-color: rgba(102, 200, 250, 0.4);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.close_ {
  padding-top: 13px;
}
.modal {
  width: 500px;
  height: 200px;
  z-index: 4;
  position: fixed;
  top: 45%;
  left: 50%;
  display: none;
  opacity: 0;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
  background: whitesmoke;
  padding: 20px 10px;
}
.modal_1 {
  width: 500px;
  height: 200px;
  z-index: 4;
  position: fixed;
  top: 45%;
 display: none;
  opacity: 0;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
  background: whitesmoke;
  padding: 20px 10px;
}
.modal_2 {
  width: 500px;
  height: 200px;
  z-index: 4;
  position: fixed;
  top: 45%;
  left: 50%;
  display: none;
  opacity: 0;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
  background: whitesmoke;
  padding: 20px 10px;
}
.backgr {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}
.cont-exp{
  text-align: center;
  width: 25%;
  height: 250px;
  background: whitesmoke;
margin-top: 50px;
border-radius: 15px;
opacity: 0;
}
.exp-place{
padding-top: 100px;
}
@media screen and (max-width: 850px){

.abcdg{
  display: flex;
  flex-direction: row;
  }
  .click-cont{
    width: 20%;
    height: 200px;
    background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  }
  .exp-bat{
    padding-top: 80px;
  }
.fell{
  font-size: 15px;
}
.exp-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 250px;
}
.cont-exp{
  text-align: center;
  width: 25%;
  height: 200px;
  background: whitesmoke;
margin-top: 50px;
border-radius: 20px;
}
.exp-place{
padding-top: 80px;
}
}
@media screen and (max-width: 610px) and (min-width:330px){
  
.abcdg{
  display: flex;
  flex-direction: row;
  }
  .click-cont{
    width: 45%;
    height: 150px;
    background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  }
  .exp-bat{
    padding-top: 50px;
  }
  .fell{
    font-size: 30px;
    font-weight: bold;
  }
  .exp-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 250px;
  }
  .cont-exp{
    text-align: center;
    width: 35%;
    height: 150px;
    background: whitesmoke;
  border-radius: 20px;
  margin: 8px;
  }
  .exp-place{
  padding-top: 60px;
  }
}
.map {
  width: 100%;
  height: 550px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.el_map {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #fafafa;
  border-top: 1px solid grey;
}
.footer-logo {
  transition-duration: 1s;
  font-family: "Courier New";
  font-size: 25px;
  letter-spacing: 1px;
  color: Red;
  text-transform: uppercase;
}
.footer-logo:hover {
  color: darkred;
  transition-duration: 1s;
  transform: scale(1.4);
}
.footer-text {
  letter-spacing: 1px;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map_{
  width:1200px;
  height: 500px;
}
@media screen and (max-width: 610px) and (min-width:330px){
.map_{
  width: 300px;
  height: 300px;
}
.el_map {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid black;
  width: 60%;
}
}
.main-slider_1{
  display: block;
}
.slider-carusel{
  width: 90%;
display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 90%;
  margin-top: 50px;
background-color: rgba(241, 245, 238, 0.4);
}
.justi{
  display: flex;
  justify-content: center;
  width: 100%;
}
.food-photo{
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1300px) and (min-width:950px){
  .map_{
    width: 900px;
    height: 400px;
  }
  .slider-carusel{
    width: 100%;
  height: 200px;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
  margin-top: 50px;
  background-color: rgba(241, 245, 238, 0.4);
  }
  .justi{
    display: flex;
    justify-content: center;
  }
  .food-photo{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 950px) and (min-width:770px){
  .map_{
    width: 550px;
    height: 300px;
  }
  .slider-carusel{
    width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin-top: 50px;
  background-color: rgba(241, 245, 238, 0.4);
  }
  .justi{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .food-photo{
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 770px) and (min-width:610px){
  .slider-carusel{
    width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin-top: 50px;
  background-color: rgba(241, 245, 238, 0.4);
  }
  .justi{
    display: flex;
    justify-content: center;
    width: 100%;    
  }
  .food-photo{
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 610px) and (min-width:480px){
  .slider-carusel{
    width: 85%;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 100px;
  background-color: rgba(241, 245, 238, 0.4);
  }
  .justi{
    display: flex;
    justify-content: center;
    width: 100%;    
  }
  .food-photo{
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 770px) and (min-width:610px){
  .map_{
    width: 550px;
    height: 300px;
  }

}
/* .experience-container {
  width: 100%;
  height: 400px;
  background: #fff;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}
.exp-text {
  height: 300px;
  width: 20%;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
}
.main_0 {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 75%;
  align-self: center;
}
.div1 {
  text-align: center;
  width: 25%;
  height: 250px;
  background: #fafafa;
}
.exp-card {
  background: #fafafa;
}
#hide {
  background-color: #fafafa;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
#hide:hover {
  background-color: rgba(102, 200, 250, 0.4);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.close_ {
  padding-top: 13px;
}
.exp-container {
  width: 100%;
  height: 400px;
  background: #fff;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}
.div1 {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.div1:hover {
  background-color: rgba(102, 200, 250, 0.4);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
}
.exp-text {
  background-color: whitesmoke;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.exp-text:hover {
  background-color: rgba(102, 200, 250, 0.4);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.exp-icon {
  font-size: 40px;
}
.modal {
  width: 500px;
  height: 200px;
  z-index: 4;
  position: fixed;
  top: 45%;
  left: 50%;
  display: none;
  opacity: 0;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
  background: whitesmoke;
  padding: 20px 10px;
}
.modal_1 {
  width: 500px;
  height: 200px;
  z-index: 4;
  position: fixed;
  top: 45%;
  left: 50%;
  display: none;
  opacity: 0;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
  background: whitesmoke;
  padding: 20px 10px;
}
.modal_2 {
  width: 500px;
  height: 200px;
  z-index: 4;
  position: fixed;
  top: 45%;
  left: 50%;
  display: none;
  opacity: 0;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
  background: whitesmoke;
  padding: 20px 10px;
}
.backgr {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}
.close {
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}
.friend {
  font-size: 20px;
  color: gray;
  position: relative;
  top: 40px;
}
.friend_2 {
  font-size: 25px;
  color: gray;
  position: relative;
  top: 40px;
}
.friend_3 {
  font-size: 30px;
  color: gray;
  position: relative;
  top: 40px;
}
/* Адаптив блоків для телефона  */
/* @media screen and (max-width: 610px) and (min-width:330px){
  .experience-container {
    width: 100%;
    height: 4s00px;
    background: #fff;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
  } .main_0 {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
  }
  .div1 {
    text-align: center;
    width: 25%;
    height: 150px;
    background: #fafafa;
margin: 10px;
  }
  .exp-text {
    height: 150px;
    width: 30%;
    margin-left: 30px;
    margin-top: 90px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 15px;
    cursor: pointer;
  }
  .exp-text h2 {

  }
  .feel{
    font-size: 15px;
    font-weight: bold;
  }
} */ 


\